{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga nobis officiis nostrum? Eligendi assumenda voluptas nulla officia deserunt quaerat, excepturi culpa non impedit eius, voluptatem sit voluptate quibusdam expedita.</p>
    </div>


{% endblock %}